body,html{background:#fff;color:#000;font-size:16px;font-family:ProximaNova-Thin;font-weight:300;min-width:1024px}
@media screen and (max-width:1280px){body,html{font-size:14px}
}
.wrapper{width:100%;overflow:hidden;position:relative}
.fixed{position:fixed!important}
h2{font-size:2.25rem;line-height:3rem;font-weight:600}
.c-blue{color:#00a0cb}
.btn{width:270px;display:inline-block;color:#fff;font-size:21px;font-weight:400;text-align:center;line-height:50px;-webkit-transition:all 150ms;transition:all 150ms}
.btn:hover{opacity:.9}
.btn.btn-blue{background:#00a0cb}
#header{font-family:ProximaNova-Thin;font-size:1rem;width:100%;height:4.375rem;position:relative;z-index:10}
#header .wrapper{background:#fff}
#header .logo{position:absolute;left:1rem;top:1rem}
#header .navbar{display:block;overflow:hidden;text-align:center;height:4.375rem}
#header .navbar-list{display:inline-block;text-align:center}
#header .navbar-list .navbar-el{display:block;float:left}
#header .navbar-list .navbar-el a{color:#333;font-size:1.3125rem;line-height:4.375rem;height:4.375rem;-webkit-transition:color 150ms;transition:color 150ms}
#header .navbar-list .navbar-el a:after{content:"/";color:#333;padding:1rem;font-size:1.3125rem;line-height:4.375rem}
#header .navbar-list .navbar-el a:hover{color:#00a0cb}
#header .navbar-list .navbar-el:last-of-type a:after{content:""}
main{position:relative;z-index:1}
#top{background:#f4f4f4;padding-top:4.375rem}
#top .left{width:40%;max-width:750px;display:table-cell;vertical-align:bottom}
#top .left img{width:100%}
#top .right{display:table-cell;vertical-align:middle}
#top .right .text-container{width:530px;margin-left:4.375rem}
#top .right h2{border-bottom:1px solid #ccc;padding:0 0 2.5rem;margin-bottom:2.5rem}
@media screen and (max-width:1280px){#top .left{width:50%}
#top .right .text-container{width:auto}
}
#ScrollContainer{background:#f4f4f4;position:relative;height:5000px}
#ScrollContainer .ScrollBorder{position:absolute;z-index:20;display:block;width:100%;height:100%;top:0;left:0}
#ScrollContainer .ScrollBorder .topRow{width:100%;height:20px;position:absolute;top:0}
#ScrollContainer .ScrollBorder .topRow .leftHalf{height:20px;width:50%;position:absolute;top:0;left:0;background:#71daf6}
#ScrollContainer .ScrollBorder .topRow .rightHalf{height:20px;width:50%;position:absolute;top:0;right:0;background:#dbdbdb}
#ScrollContainer .ScrollBorder .bottomRow{width:100%;height:20px;position:absolute;bottom:0;left:0}
#ScrollContainer .ScrollBorder .bottomRow .leftHalf{height:20px;width:50%;position:absolute;top:0;left:0;background:#dbdbdb}
#ScrollContainer .ScrollBorder .bottomRow .rightHalf{height:20px;width:50%;position:absolute;top:0;right:0;background:#71daf6}
#ScrollContainer .ScrollBorder .rightCol{height:100%;width:20px;position:absolute;top:0;right:0}
#ScrollContainer .ScrollBorder .rightCol .topHalf{height:50%;width:20px;position:absolute;top:0;right:0;background:#dbdbdb}
#ScrollContainer .ScrollBorder .rightCol .bottomHalf{height:50%;width:20px;position:absolute;bottom:0;right:0;background:#71daf6}
#ScrollContainer .ScrollBorder .leftCol{height:100%;width:20px;position:absolute;top:0;left:0}
#ScrollContainer .ScrollBorder .leftCol .topHalf{height:50%;width:20px;position:absolute;top:0;right:0;background:#71daf6}
#ScrollContainer .ScrollBorder .leftCol .bottomHalf{height:50%;width:20px;position:absolute;bottom:0;right:0;background:#dbdbdb}
#ScrollContainer #videoContainer{position:absolute;width:100%;top:0;z-index:10;text-align:center;overflow:hidden}
#ScrollContainer #videoCanvas{position:absolute;top:0;z-index:20}
#ScrollContainer #videoBlock{width:100%;top:0;z-index:10;position:relative;display:inline-block}
#ScrollContainer .scrollBlock{display:block;position:absolute;z-index:15;bottom:0;visibility:hidden;text-align:center}
#ScrollContainer .scrollBlock blockquote{color:#fff;width:50%;display:inline-block;position:absolute;top:30%;left:25%;margin:0 auto}
#ScrollContainer .scrollBlock blockquote p{font-family:ProximaNova-Thin;font-size:1.5rem;font-weight:100}
#ScrollContainer .scrollBlock blockquote footer cite{font-size:2.875rem;line-height:5rem;font-weight:300}
#ScrollContainer .scrollBlock .vert-line{width:2px;background:rgba(255,255,255,.75);height:4.375rem;position:absolute;display:block;bottom:8rem;left:50%}
#ScrollContainer .scrollBlock .scrollDown{display:inline-block;position:absolute;bottom:4.375rem;left:40%;width:20%;text-align:center;color:#fff;text-transform:uppercase;padding:10px 0;font-weight:600;font-size:.875rem}
#footer{color:#fff;text-align:center;background:#000;position:relative}
#footer .wrapper{height:1000px;vertical-align:middle;display:inline-block}