extends extends/_layout

block title
  title JM1s / Index

block header

block content
  main
    section#top
      div.wrapper
        div.left
          img(src="img/top-left-logo.png")
        div.right
          h2.
            Welkom op de website van JM1's dance studio!
            Meld je nu aan voor een gratis proefles!
          a.btn.btn-blue Apply


block extra_script
