@charset "UTF-8";

//Main styles
html, body {
  background: #fff;
  color: #000;
  font-size: 16px;
  font-family: 'ProximaNova-Thin';
  font-weight: 300;
  min-width: 1024px;
  @media screen and (max-width: 1280px) {
    font-size: 14px;
  }
}

.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.fixed {
  position: fixed !important;
}

h1 {
  color: #fff;
  font-size: 3rem;
  width: 100%;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
}

h2 {
  font-size: 2.25rem;
  line-height: 3rem;
  font-weight: 600;
}

.c-blue {
  color: #00a0cb;
}

.btn {
  width: 270px;
  display: inline-block;
  color: #fff;
  font-size: 21px;
  font-weight: 400;
  text-align: center;
  line-height: 50px;
  transition: all 150ms;
  &:hover {
    opacity: 0.9;
  }
  &.btn-blue {
    background: #00a0cb;
  }
}

.vis-h {
  visibility: hidden !important;
}

/*----------- preloader ----------*/
.preLoader {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 1;
}

.spinner {
  margin: -20px auto 100px  -20px;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #fff;
  border-radius: 100%;

  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg)
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg)
  }
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0.0)
  }
  50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

// Header
@import "add/header";

// Main
@import "add/main";

// Footer
@import "add/footer";
