block footer

block footer_extra

block script_block
  // ---------- JS -----------
  script(src="js/jquery-1.11.2.min.js")
  script(src="js/jquery-migrate-1.2.1.min.js")
  script(src="js/init.js")

block extra_script
