block footer
footer#footer
  div.wrapper
    p Copyright


block footer_extra

block script_block
  // ---------- JS -----------
  script(src="js/jquery-1.11.2.min.js")
  script(src="js/jquery-migrate-1.2.1.min.js")
  script(src="js/jquery-ui-1.11.2.min.js")

  <!--CDN link for the latest TweenMax-->
  script(src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js")
  <!--CDN links for the latest TweenLite, CSSPlugin, and EasePack-->
  script(src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/CSSPlugin.min.js")
  script(src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/easing/EasePack.min.js")
  script(src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js"
  )
  script(src="js/init.js")

block extra_script
