block footer
footer#footer
  div.wrapper
    p Copyright


block footer_extra

block script_block
  // ---------- JS -----------
  script(src="js/jquery-1.11.2.min.js")
  script(src="js/jquery-migrate-1.2.1.min.js")
  script(src="js/source.js")

block extra_script
