block header
header#header.fixed
  div.wrapper
    div.logo
      a(href="/")
        img(src="img/logo.png")
    nav.navbar
      ul.navbar-list
        li.navbar-el
          a(href="#") Home
        li.navbar-el
          a(href="#") Classes
        li.navbar-el
          a(href="#") Agenda
        li.navbar-el
          a(href="#") Social
        li.navbar-el
          a(href="#") Timeline
        li.navbar-el
          a(href="#") Contact



