head
  block title
    title Def title

  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  meta(name="keywords", content='')
  meta(name="author", content='')
  meta(name="description", content='')

  // ---------------- favicon
  link(rel="icon", href="img/logo.png", type="image/x-icon")
  link(rel="shortcut icon", href="img/logo.png", type="image/x-icon")
  link(rel="apple-touch-icon", href="img/logo.png")

  block style_block
    // ---------- CSS -----------
    link(href="fonts/fonts.css", rel="stylesheet")
    link(href="css/reset.css", rel="stylesheet")
    link(href="css/animate.css", rel="stylesheet")
    link(href="css/style.css", rel="stylesheet")

  block extra_style
