block header
div.preLoader
  div.spinner
    div.dot1
    div.dot2

header#header.fixed
  div.wrapper
    div.logo
      a(href="/")
        img(src="img/logo.png")
    nav.navbar
      ul.navbar-list
        li.navbar-el
          a(href="#").scrollMenuLink Home
        li.navbar-el
          a(href="#").scrollMenuLink Classes
        li.navbar-el
          a(href="#").scrollMenuLink Agenda
        li.navbar-el
          a(href="#").scrollMenuLink Social
        li.navbar-el
          a(href="#").scrollMenuLink Timeline
        li.navbar-el
          a(href="#").scrollMenuLink Contact



