main {
  position: relative;
  z-index: 1;
}

#top {
  background: #f4f4f4;
  padding-top: 4.375rem;
  .left {
    width: 40%;
    max-width: 750px;
    display: table-cell;
    vertical-align: bottom;
    img {
      width: 100%;
    }
  }
  .right {
    display: table-cell;
    vertical-align: middle;
    .text-container {
      width: 530px;
      margin-left: 4.375rem;
    }
    h2 {
      border-bottom: 1px solid #cccccc;
      padding: 0 0 2.5rem;
      margin-bottom: 2.5rem;
    }
  }
  @media screen and (max-width: 1280px) {
    .left {
      width: 50%;
    }
    .right {
      .text-container {
        width: auto;
      }
    }
  }
}

#ScrollContainer {
  background: #f4f4f4;
  position: relative;
  width: 100%;
  height: 2000px;
  overflow: hidden;
  .ScrollBorder {
    position: absolute;
    z-index: 20;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    .topRow {
      width: 100%;
      height: 20px;
      position: absolute;
      top: 0;
      .leftHalf {
        height: 20px;
        width: 50%;
        position: absolute;
        top: 0;
        left: 0;
        background: #71daf6;
      }
      .rightHalf {
        height: 20px;
        width: 50%;
        position: absolute;
        top: 0;
        right: 0;
        background: #dbdbdb;
      }
    }
    .bottomRow {
      width: 100%;
      height: 20px;
      position: absolute;
      bottom: 0;
      left: 0;
      .leftHalf {
        height: 20px;
        width: 50%;
        position: absolute;
        top: 0;
        left: 0;
        background: #dbdbdb;
      }
      .rightHalf {
        height: 20px;
        width: 50%;
        position: absolute;
        top: 0;
        right: 0;
        background: #71daf6;
      }
    }
    .rightCol {
      height: 100%;
      width: 20px;
      position: absolute;
      top: 0;
      right: 0;
      .topHalf {
        height: 50%;
        width: 20px;
        position: absolute;
        top: 0;
        right: 0;
        background: #dbdbdb;
      }
      .bottomHalf {
        height: 50%;
        width: 20px;
        position: absolute;
        bottom: 0;
        right: 0;
        background: #71daf6;
      }
    }
    .leftCol {
      height: 100%;
      width: 20px;
      position: absolute;
      top: 0;
      left: 0;
      .topHalf {
        height: 50%;
        width: 20px;
        position: absolute;
        top: 0;
        right: 0;
        background: #71daf6;
      }
      .bottomHalf {
        height: 50%;
        width: 20px;
        position: absolute;
        bottom: 0;
        right: 0;
        background: #dbdbdb;
      }
    }
  }
  .scrollMenu {
    position: absolute;
    z-index: 20;
    display: block;
    width: 300px;
    height: 60%;
    top: 20%;
    right: 40px;
    opacity: 0;
    .scrollMenuList {
      position: absolute;
      top: 0;
      right: 60px;
      width: 200px;
      text-align: right;
      .el a {
        color: #fff;
        text-transform: uppercase;
        font-size: 0.75rem;
        letter-spacing: 1px;
        display: inline-block;
      }
    }
    .gridLineList {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      .gridLine {
        width: 20px;
        height: 1px;
        margin: 0.5rem 0;
        background: #fff;
        opacity: 0.5;
      }
    }
  }
  #videoContainer {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;
    text-align: center;
    overflow: hidden;
  }
  #videoCanvas {
    position: absolute;
    top: 0;
    z-index: 20;
  }
  #videoBlock {
    width: 100%;
    top: 0;
    z-index: 10;
    position: relative;
    display: inline-block;
  }
  .scrollBlock {
    display: block;
    width: 100%;
    position: fixed;
    z-index: 15;
    top: 0;
    padding: 40px;
    visibility: visible;
    text-align: center;
    blockquote {
      color: #fff;
      width: 50%;
      display: inline-block;
      position: absolute;
      top: 30%;
      left: 25%;
      margin: 0 auto;
      p {
        font-family: 'ProximaNova-Thin';
        font-size: 1.5rem;
        font-weight: 100;
      }
      footer {
        cite {
          font-size: 2.875rem;
          line-height: 5rem;
          font-weight: 300;
        }
      }
    }
    .vert-line {
      width: 2px;
      background: rgba(255, 255, 255, 0.75);
      height: 4.375rem;
      position: absolute;
      display: block;
      bottom: 8rem;
      left: 50%;
    }
    .scrollDown {
      display: inline-block;
      position: absolute;
      bottom: 4.375rem;
      left: 40%;
      width: 20%;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      padding: 10px 0;
      font-weight: 600;
      font-size: 0.875rem;
    }
  }
}
